<div class="wrapper changeForgotPassword">
  <%- include('../error/flashMessages') %>
  <div class="container mt-4">
    <div class="authForm">
      <div class="formContainer">
        <form action="/change_reset_password" method="POST">
          <h5 class="p-3">
            Change Your Password
          </h5>
          <input
            type="hidden"
            name="passwordResetToken"
            value="<%= passwordResetToken %>"
          />
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-key" aria-hidden="true"></i
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="New Password"
              name="password"
              required
            />
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-key" aria-hidden="true"></i
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              placeholder="Confirm New Password"
              required
            />
          </div>

          <button type="submit" class="btn btn-warning btn-block">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
