<br />
<div class="horizontalLine">
  <hr />
  <p>OR</p>
</div>
<div class="oAuth facebookOAuth">
  <a href="/oauth/facebook"
    ><i class="fa fa-facebook" aria-hidden="true"></i>
    <span><%= method %> with Facebook</span></a
  >
</div>
<br />
<div class="oAuth googleOAuth">
  <a href="/oauth/google"
    ><i class="fa fa-google" aria-hidden="true"></i> <%= method %> with
    Google</a
  >
</div>
