<h1 class="p-3">To reset your password enter your username or email.</h1>
<form method="POST" action="/reset_password">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email or username"
      name="usernameOrEmail"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
