<% if(signup_success === undefined){ %>
  
<form action="/signup" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Name"
      ,
      name="name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">username</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Username"
      name="username"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Email"
      name="email"
    />
  </div>
  
    <label for="exampleInputPassword1">password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="password"
      name="password"
    />
  </div>

  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% }else{ %>
  <h1>Check Your Email</h1>

<% }%>