<div class="authHomePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 friendListOption">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active"
              id="nav-friends-tab"
              data-toggle="tab"
              href="#nav-friends"
              role="tab"
              aria-controls="nav-friends"
              aria-selected="true"
            >
              <i class="fa fa-users" aria-hidden="true"></i> Friends</a
            >
          </div>
        </nav>
        <div
          style="border-left:1px solid rgba(0,0,0,.1)"
          class="tab-content"
          id="nav-tabContent"
        >
          <div
            class="friendList-content tab-pane fade show active"
            id="nav-friends"
            role="tabpanel"
            aria-labelledby="nav-friends-tab"
          ></div>
        </div>
      </div>
      <div class="col-md-8 chatOption-container"></div>
    </div>
  </div>
</div>
