<nav
  class="main-mav-bar navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top "
>
  <div class="container">
    <a class="navbar-brand" href="/"
      ><img class="logo" src="/photos/logo.png" alt="Adda Golpo"
    /></a>
    <div class="ml-auto">
      <a href="/login" class="btn btn-primary mr-2 rounded">Login</a>
      <a href="/signup" class="btn btn-success">SignUp</a>
    </div>
  </div>
</nav>
